In [14]:
"""Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
Answer:- MongoDB:- MongoDB is an open-source document - oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently . Non relation database :- we can say that mongodb is also a non- relational database in this the data is not stored in the relational form means in the row and column in this any type of data is stored whether it is image , video etc. we should prefer mongodb rether than mysql when it is storing large volumes of data without structure , We can use cloud computing and storage in mongodb"""

'Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use\nMongoDB over SQL databases?\nAnswer:- MongoDB:- MongoDB is an open-source document - oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently . Non relation database :- we can say that mongodb is also a non- relational database in this the data is not stored in the relational form means in the row and column in this any type of data is stored whether it is image , video etc. we should prefer mongodb rether than mysql when it is storing large volumes of data without structure , We can use cloud computing and storage in mongodb'

In [15]:
"""Q2. State and Explain the features of MongoDB.
Answer:- Features of Mongodb:-
1.In MongoDB, you can search by field, range query and it also supports regular expression searches.
2.You can index any field in a document
3.MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.
4.It has an automatic load balancing configuration because of data placed in shards.
5.Stores files of any size easily without complicating your stack
"""

'Q2. State and Explain the features of MongoDB.\nAnswer:- Features of Mongodb:-\n1.In MongoDB, you can search by field, range query and it also supports regular expression searches.\n2.You can index any field in a document\n3.MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.\n4.It has an automatic load balancing configuration because of data placed in shards.\n5.Stores files of any size easily without complicating your stack\n'

In [4]:
"""Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
Answer:- """
import pymongo
#Creating connection
client = pymongo.MongoClient("mongodb+srv://raman:raman12@cluster0.oufkbsf.mongodb.net/?retryWrites=true&w=majority")
db = client.test
#Creating database
db=client['raman']
#creating collection
coll_raman= db['my_data']
data={'name':'Raman','class':'Impact'}
#Inserting data
coll_raman.insert_one(data)

In [5]:
"""Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.
Answer:- """
data1={'name':'Diksha', 'class':'Sigma'}
data2=[
    { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
coll_raman.insert_one(data1)
coll_raman.insert_many(data2)

In [7]:
"""Question 4 is continue """
for i in coll_raman.find({'name':'Diksha'}):
    print(i)
coll_raman.find_one()

{'_id': ObjectId('6405d4da4c762567bb700135'), 'name': 'Diksha', 'class': 'Sigma'}

{'_id': ObjectId('6405d3504c762567bb700134'),
 'name': 'Raman',
 'class': 'Impact'}

In [9]:
"""Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
Answer:- We can use the find() method to find the data about particular thing or we can fetch all the data """
for i in coll_raman.find():
    print(i)
for i in coll_raman.find({'name':'Raman'}):
    print(i)

{'_id': ObjectId('6405d3504c762567bb700134'), 'name': 'Raman', 'class': 'Impact'}
{'_id': ObjectId('6405d4da4c762567bb700135'), 'name': 'Diksha', 'class': 'Sigma'}
{'_id': ObjectId('6405d4da4c762567bb700136'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6405d4da4c762567bb700137'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6405d4da4c762567bb700138'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6405d4da4c762567bb700139'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6405d4da4c762567bb70013a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6405d4da4c762567bb70013b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6405d4da4c762567bb70013c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6405d4da4c762567bb70013d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6405d4da4c762567bb70013e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6405d4da4c762567bb70013f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6405d4da4c762567bb700140'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6405d4da4c762567bb700141'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6405d3504c762567bb700134'), 'name': 'Raman', 'class': 'Impact'}

In [13]:
"""Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
Answer:- While retrieving the contents of a collection, you can sort and arrange them in ascending or descending orders using the sort() method
"""
for i in coll_raman.find().sort("name"):
    print(i)

{'_id': ObjectId('6405d4da4c762567bb700136'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6405d4da4c762567bb70013e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6405d4da4c762567bb70013a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6405d4da4c762567bb700140'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6405d4da4c762567bb700135'), 'name': 'Diksha', 'class': 'Sigma'}
{'_id': ObjectId('6405d4da4c762567bb700137'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6405d4da4c762567bb700138'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6405d3504c762567bb700134'), 'name': 'Raman', 'class': 'Impact'}
{'_id': ObjectId('6405d4da4c762567bb70013b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6405d4da4c762567bb700139'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6405d4da4c762567bb70013c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6405d4da4c762567bb70013d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6405d4da4c762567bb700141'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6405d4da4c762567bb70013f'), 'name': 'William', 'address': 'Central st 954'}

In [15]:
"""Q7. Explain why delete_one(), delete_many(), and drop() is used.
Answer:- delete_one():-Delete a single document matching the filter
delete_many():-Delete one or more documents matching the filter
drop():- it is use to delete a collection."""
coll_raman.delete_one({'name':'Raman'})
coll_raman.delete_many({'name':'Amy'})
coll_raman.drop()